# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# macOS
.DS_Store

# Streamlit cache
.streamlit_cache/

# Python packaging
build/
dist/
*.egg-info/
